* {margin: 0;padding: 0;box-sizing: border-box;}
*::after, *::before {box-sizing: border-box;}
a {text-decoration: none; color: #00adb5; border-bottom: 1px solid;}
a, input, button {font: inherit;}
h1 {margin: 8px 0;}
p {margin: 4px 0;}

input {
  outline-style: none ;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 14px 14px;
  width: 620px;
  font-size: 24px;
}
// 当输入框获取焦点时
  input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
  }
// 选择输入文本时，默认蓝色，改为透明
::selection {
  background: transparent;
}
::-moz-selection {
  background: rgb(241, 241, 241);
}



